build/
data/nuscenes
data/nusc_tensor
data/prediction
tool/*.pyc
tool/onnx-exporter/__pycache__/
tool/__pycache__/
*.plan
*.log
model
example-data
src/test
*.zip
*.pth
*.onnx
*.o
*.so
.vscode/
plugin_codes/*.txt
example1/
kodiak-example/
test_*/